@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #212529;
  color: white;
  font-family: "Geologica", sans-serif;
}

#www {
  font-size: 3rem;
  font-weight: 700;
}

#eng {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  
}


.name {
  font-weight: 600;
}

.title {
  font-weight: 300;
}

.project-description {
  color: skyblue;
}

.description {
  font-size: 1rem;
  font-weight: 200;
}

.offcanvas-custom {
  max-width: 50%; /* Adjust this value as needed */
}

.d-shape-image {
  width: 300px;
  height: 300px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  overflow: hidden;
  float: left;
  margin-right: 20px; /* Space between image and text */
}
.d-shape-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("images/arrow-left-square-fill.svg");
}

#hero-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero-image {
  background-image: url("images/heroimage.jpeg");
  background-position: center;
  background-size: contain;
  width: 150px;
  height: 190px;
}

@media screen and (min-width: 768px) {
  #hero-section {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
  }

  #hero-content {
    margin-left: 10px;
  }

  #www {
    font-size: 4rem;
  } 

  .description {
    font-size: 1.1rem;
  }
}

.card:hover {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.6);
}

.card-title {
  color: white;
}

.card-text {
  color: white;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
::placeholder { /* Modern browsers */
  color: white !important;
}